.register_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/farmacias-syg.appspot.com/o/imagenes%2Fv870-mynt-15.jpg?alt=media&token=9c62b905-fcf0-44fb-a0bf-90300a69657b");
    ;
}


.register_wave_svg{
    position: relative;
    z-index: -1;
    width: 100%;
    top: 120%;
    display: none;
}
.register_inputs{
    display: flex;
    flex-direction: column;

    align-items: center;

}
.register_h1{
    padding: 0%;
    margin: 5%;
 }

 .button_register{
    display: flex;
    margin: 5% 0%;
    justify-content: center;
 }
 .register_border{
    border: 1px solid var(--linea-border-color2);
    border-radius: 20px;
    box-shadow: 10px 10px 5px var(--background-hover-color);
    width: 27rem;
    height: 100%;
    background-color: var(--font-footer-color4);
}
.login_color{
    color: var(--background-btn2);
    background-color: var(--background-btn2);
    width: 100%;
    margin: 0%;
    border-radius: 0px 0px 20px 20px;
    padding: 0% 0% 7% 0%;

}
 
.register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 49rem;
    justify-content: space-around;
margin: 0%;
}
.login_input_datepicker{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.login_input_select{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.button_register{
    margin: 0%;
}