.register_page{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.register_wave_svg{
    position: relative;
    z-index: -1;
    width: 100%;
    top: 120%;
    display: none;
}
.register_inputs{
    display: flex;
    flex-direction: column;

    margin: 3% 0% 0% 0%;
    align-items: center;

}
 h1{
    padding: 0%;
    margin: 0%;
 }
 .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    width: 280px;
 }
 .button_register{
    display: flex;
    margin: 5% 0%;
    justify-content: center;
 }
 .login_border{
    border: 1px solid var(--linea-border-color2);
    border-radius: 20px;
    box-shadow: 10px 10px 5px var(--background-hover-color);
    width: 27rem;
    height: 100%;
}
.login_color{
    color: var(--background-btn2);
    background-color: var(--background-btn2);
    width: 100%;
    margin: 0%;
    border-radius: 0px 0px 20px 20px;
    padding: 0% 0% 7% 0%;

}
 
.register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_input_datepicker{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.login_input_select select{
    width: 280px !important;
}
.login_input_select{
    display: flex;
    flex-direction: column;
    width: 80%;
}