:root {
    /* Fuente para parrafos */
    font-family: "Arvo", serif;
    --font-body: "Arvo", serif;
    --font-title: "Oswald", sans-serif;
    /* Paleta de colores */
    /* Colores de Fuente */
    --font-placeholder-color: #6B6C6C;
    --font-body-color: #101010;
    --font-price-color: #FF594D;
    --font-link-color: #9747FF;
    --font-description-color: #6B6C6C;
    --font-btn1-color: #FFFFFF;
    --font-btn2-color: #FFFFFF;
    --font-btn3-color: #91C3E4;
    --font-btn4-color: #FE486A;
    --font-navbar-color: #1C1C1C;
    --font-navbar-color2: #91C3E4;
    --font-footer-color1: #1C1C1C;
    --font-footer-color2: #91C3E4;
    --font-footer-color2: #FE486A;
    /* Colores de Fondo */
    --background-btn1: #FE486A;
    --background-btn2: #91C3E4;
    --background-btn3: #FFFCF4;
    --background-btn4: #FCFDFF;
    --background-body-color: #FCFDFF;
    --background-navba-color: #FCFDFF;
    --background-footer-color1: #FCFDFF;
    --background-footer-color2: #91C3E4;
    /*  Colores de Borde*/
    --border-btn4-color: #FE486A;
    --linea-border-color1: #FE486A;
    --linea-border-color2: #91C3E4;
    --linea-border-navba: #FDA2B440;
    --input-color:#786f9d2a;
}

body {
    padding: 0;
    margin: 0;
}