:root {
    /* Fuente para parrafos */
    font-family: "Arvo", serif;
    --font-body: "Arvo", serif;
    --font-title: "Oswald", sans-serif;
    /* Paleta de colores */
    /* Colores de Fuente */
    --font-placeholder-color: #6b6c6c;
    --font-body-color: #101010;
    --font-price-color: #ff594d;
    --font-link-color: #9747ff;
    --font-description-color: #6b6c6c;
    --font-btn1-color: #ffffff;
    --font-btn2-color: #cacaca;
    --font-btn3-color: #91c3e4;
    --font-btn4-color: #fe486a;
    --font-btn5-color: #a82e45;
    --font-btn6-color: #5f7f94;
    
    --font-navbar-color: #1c1c1c;
    --font-navbar-color2: #91c3e4;
    --font-navbar-color3: #3c5257;
    --font-footer-color1: #1c1c1c;
    --font-footer-color2: #91c3e4;
    --font-footer-color3: #fe486a;
    --font-footer-color4: #ffffff;
    /* Colores de Fondo */
    --background-btn1: #fe486a;
    --background-btn2: #91c3e4;
    --background-btn3: #fffcf4;
    --background-btn4: #fcfdff;
    --background-body-color: #fcfdff;
    --background-navba-color: #fcfdff;
    --background-footer-color1: #fcfdff;
    --background-footer-color2: #91c3e4;
    /* color de fon input  */
    --background-input-color1:#786F9D1F;
    /*  Colores de Borde*/
    --border-btn4-color: #fe486a;
    --linea-border-color1: #fe486a;
    --linea-border-color2: #91c3e444;
    --linea-border-navba: #fda2b440;
    --input-color: #d8d8d8;
    /*  Colores fondo hover*/
    --background-hover-color: #91c3e419;

/* box-shadow */
--sombra:10px 10px 5px var(--background-hover-color)


}
body {
    padding: 0;
    margin: 0;
}

/* Main grid for the application*/
.gridApp {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* css para el Footer */
.footerCopyRigth {
    font-family: var(--font-body);
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding-top: 2px;
}

.mediaSocialFooter {
    font-family: var(--font-body);
    text-align: center;
    font-weight: 400;
}
.favorite-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px; 
  }
  
  .favorite-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .favorite-box-content{
    display: flex;
    align-items: start;
    margin: 10px; 
    gap:15px;
  }
  .favorite-card-image {
    width: 150px; 
    margin-right: 20px; 
  }
  .favorite-card-color {
    color: red;
  }
  .favorite-card-color span {
    color: black; /* Cambia el color del texto "Precio" a negro */
  }
  .favorite-name {
    font-size: 1.2em; /* Cambia el tamaño del texto a 1.2 veces el tamaño normal */
  }