.css-1xgsf0v {
    height: 210px;
    display: block;
    width: 100% !important;
}
.css-cuefkz-MuiContainer-root {
    max-width: fit-content !important;
}
.css-ahj2mt-MuiTypography-root {
    display: none;
}
.css-zjf1nq-MuiPaper-root {
    display: none;
}



