.block-icon {
    position: relative;
  }
  
  .icon-tag {
    position: absolute !important;
    right: 0;
    z-index: 1;
    width: 12px !important;
    height: 12px !important;
  }

  .link-text{
    color: var(--font-link-color);
  }

  .price{
    color: var(--font-price-color);
  }

  .product-card{
    border: 1px solid;
    border-color: var(--linea-border-color2);
    border-radius: 25px !important;
  
  }

  .product-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px
  }

  .price-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border:1px solid;
    border-radius:5px;
    border-color: var(--input-color);
  }

  .card-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .margin_color{
    color: var(--background-btn2);
    background-color: var(--background-btn2);
    width: 100%;
    margin: 0%;
    border-radius: 0px 0px 20px 20px;
    padding: 0% 0% 7% 0%;
  }