.login_page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.login_img{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.login_img img{
    width: 80%;

}
.login_enter{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 2% 0%;
}
.inputgroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;

}


.login_border{
    display: flex;
    border: 1px solid var(--linea-border-color2);
    border-radius: 20px;
    box-shadow: 10px 10px 5px var(--background-hover-color);
    background-color: var(--background-btn4);
    flex-direction: column;
    justify-content: center;
width: 80%;
    align-items: center;
    height: 23rem;
    margin: 5% 0%;
    justify-content: space-between;
}
.login_button{
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
}
.register_new{
    display: flex;
    justify-content: center;
}
.register_new_text{
    width: 40%;
    color: var(--background-btn2);
}

.login_color{
    color: var(--background-btn2);
    background-color: var(--background-btn2);
    width: 100%;
    margin: 0%;
    border-radius: 0px 0px 20px 20px;
    padding: 0% 0% 7% 0%;

}
form{
    margin: 5%;
}
.css-1yf1hp2 {
    height: 260px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
