.shopping-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px; 
  }
  
  .shopping-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shopping-box-content{
    display: flex;
    align-items: center;
    margin: 10px; 
    
  }
  .shopping-card-image {
    width: 150px; 
    margin-right: 20px; 
  }
  .shopping-card-color {
    color: red;
  }
  