.button_big{
    border: none;
    border-radius: 100px;
    font-family: var(--font-body);
    background-color: var(--font-btn4-color);
    color: var( --background-btn4);
    width: 300px;
    height: 48px;
    cursor: pointer;
}

.button_big:hover {
    background-color: var(--font-footer-color2);
    color: var(--background-btn4);
    font-family: var(--font-body);
    cursor: pointer;
}
.button_big:active{
    background-color: var(--font-btn5-color);
}