.login{
    display: flex;
    flex-direction: column;
    height: 40rem;
    align-items: center;
    border: 1px solid var(--linea-border-color2);
    border-radius: 20px;
    width: 100%;
    box-shadow: 10px 10px 5px var(--background-hover-color);
    background-color: var(--background-btn4);
    
}
.login_form{
    width: 80%;
}
.login_input{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-evenly;
}

.login_input_input input{
    width: 90%
}
.register_new{

    display: flex;
    justify-content: space-around;
    margin-top: 12%;
}
.register_new_text{
    color: var(--font-btn3-color);
    width: 35%;
}
