.login{
    display: flex;
    flex-direction: column;
    height: 60rem;
    align-items: center;
}

.login_input{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-evenly;
}

.login_input_input input{
    width: 90%
}
.register_new{

    display: flex;
    justify-content: space-around;
    margin-top: 12%;
}
.register_new_text{
    color: var(--font-btn3-color);
    width: 35%;
}
.login_form{
    width: 74%;
}