.publication {
  margin: 3%;
}
.publication_category {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 7rem;
  justify-content: space-between;
}
.publication_category select {
  width: 300px;
}
.especials_inputs {
  display: flex;
  flex-direction: column;
}
.publication_button,
.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  width: 300px !important;
}
.css-phksla-MuiInputBase-root-MuiFilledInput-root {
  width: 327px !important;
}
.input_publication{
    width: 325px !important;
  height: 60px !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width: inherit;
height: inherit;
}
.css-batk84-MuiInputBase-root-MuiFilledInput-root{
  height: 58px !important;
}